body{
    background-color:linear-gradient(#898C8C,#9DA1A1,#AEB4B4,#C7CDCD);
    
}
.imgclass{
    width: 70px;
    height: 70px;
    border-radius: 70%;
}


.fab{
    text-decoration: none;
}
a{
    color: black;
}
a:hover{
    color: black;
}
/* 




@media screen and (min-width:480px){
    .bodybg{
        background-color: lightblue;
    }
}

@media screen and (min-width:992px){
    .bodybg{
        background-color: lightcoral;
    }
} */