body{
    margin: 0;
    padding: 0;
}



.imgclass{
    width: 70px;
    height: 70px;
    border-radius: 70%;
}
.btn-lg{
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montseerat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}


.btn1{
    color: #3498db; 

     
}
.btn1:hover{
    
    color: #fff;
}


.btn2{
    color: #3498db;
     
}
.btn2:hover{
    color: #fff;
}


.btn3{
    color: #fff;
     
}
.btn3:hover{
    color: #3498db;
}


.btn4{
    color:#fff;
     
}

.btn4:hover{
    color: #3498db;
}

.container{
    text-align: center;
    margin-top: 330px;
}
.btn-lg::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0,8s;
}
.btn1::before,.btn3::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}
.btn2::before,.btn4::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.btn3::before,.btn4::before{
    height: 180%;
    
}
.btn-lg:hover::before,.btn2:hover::before{
    height: 0%;
}