body{
    background-image: url('../Images/myi4.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    padding: 0;
    background-position: center center;
    height: 100vh;

}
.banner-area h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: cursive;
    color: black;
    font-size: 4.5em;
}
.type{
    color: red;
}