body {
    margin: 0;
    padding: 0;
  
    background-image: linear-gradient(
      #000000,
      #2bd1ff,
      #a5faf9,
      #87f8f6,
      #000000
    );
    height: 59em;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .resumeint{
    overflow: auto;
    text-align: center;
  
    height: 80ex;
    width: 100%;
    opacity: 1;
    padding-top: 100px;
  }
  object{
      width: 70%;
      height: 40em;
  }