.bodybg{
    background-image: linear-gradient(#898C8C,#9DA1A1,#AEB4B4,#C7CDCD);
    ;
    
}
.imgclass{
    width: 70px;
    height: 70px;
    border-radius: 70%;
}
.container{
    width: 100%;
    margin-top: 10px;
}
.rowres{
    width: 100%;
}
.row{

    /* border: 1px black solid; */
    
}

.col-sm{
    width: 100%;
    padding: 10px;
    text-align: center;
    
}
.resumea{
    
    
    color: black;
}
.resumea:hover{
    color:grey;
    text-decoration: none;
}
.resumebtn{
    transition: 0.8s;
    border-radius: 100px 100px 100px 100px;
    transition: 0.8s;
    background-image: linear-gradient(#898C8C,#9DA1A1,#AEB4B4,#C7CDCD);
    width: 300px;
    height: 50px;
    color:#212F3D;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    opacity: 0.7;
    letter-spacing: 2.5px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
}
.resumebtn:hover{
    text-transform: uppercase;
    letter-spacing: 3px;
    opacity: 1;
    
    text-decoration: none;
    box-shadow: 2px 2px black;
    color:#212F3D;
    background-image: linear-gradient(#898C8C,#9DA1A1,#AEB4B4);

    font-weight: 900px;

}


.resumeframe{
    width: 100%;
    height: 1000px;
    
}

/* 
@media screen and (max-width:480px){
    .bodybg{
        background-color: lightgray;

    }
} */


/* @media screen and (min-width:992px){

    .bodybg{
        background-color: lightgrey;
    }
} */

.resumesrc{
    background-image: url('../Assest/MyModfiedResume.pdf');
    width: 100%;
    height: 1000px;
}
embed{
    overflow-y: hidden;
    overflow: hidden;
}