.imgclass{
    width: 5em;
    height: 5em;
    border-radius: 50px;
}
body{
    margin: auto;
    padding: unset;
    height: 100vh;
    background-image: linear-gradient(#000000, #2BD1FF, #a5faf9, #87f8f6,#000000);
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    color: white;
}
.navbar-brand{
    font-size: 35px;
}
.news   {
    border-radius: 30px;
    transition: 2s;
    
    height: 35vh;
}

.card{
    opacity: 0.8;
    border-radius: 30px ;
    transition: 1s;
}
.card:hover{
    opacity: 1;
    box-shadow: 2px 2px black;
}
.ifood{
    border-radius: 30px;
}
.port{
    border-radius: 30px;
}
/* 
@media screen and (min-width:480px){
    .bodybg{
        background-color: lightblue;
    }
} */
/* 
@media screen and (min-width:992px){
    .bodybg{
        background-color: lightcoral;
    }
} */