*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    border: 5px solid red;
    
    
}

.nav-desk, .nav-mob{

    padding: 10px 10px 10px 10px;
    background-color:#343A40;

}
.site-brand{


    color: white ;
    font-size: 30px;
    text-decoration:none;
    padding: 3px 10px 10px 10px;
}

.ul-desk{
    
   

    list-style: none;
    float: right;
}
.ul-mob{
    
    list-style: none;

}
.li-desk
{
    line-height: 40px;
    padding-right: 40px;
    padding-left: 40px;
    display: inline-block;
}
.li-mob{
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    
}
.li-mob>a,.li-desk>a{
    text-decoration: none;
color:whitesmoke;
font-size: 20px;
}
.li-desk:hover{
    background-color:#c1c5c9;
}
.li-mob:hover{
    background-color:#c1c5c9;

}
.ul-desk:last-child{
    padding-right: 100px;
}

.nav-desk::after{
    content: "";
    display: block;
    clear: both;
    *zoom: 1 ;
}

.nav-mob,.hamburger-btn{
    display: none;
}

@media screen and (max-width:300px)
{
    .nav-mob, .hamburger-btn{
        display: block;
    }
    .nav-desk{
        display: none;
    }
    .ul-mob{
        display: none;
    }
}
